<aside class="author-card">
  <div class="author-photo-wrap">
    <img class="author-photo" src="{{ '/images/profile.jpg' | relative_url }}" alt="Jungmin Shin">
  </div>
  <h2>Jungmin Shin</h2>
  <p class="author-role">Postdoctoral Researcher</p>
  <p class="author-affil">Department of Biomedical Informatics<br>The Ohio State University</p>

  <ul class="author-links">
    <li><span class="icon">⌖</span> Columbus, OH</li>
    <li><span class="icon">▦</span> The Ohio State University</li>
    <li><a href="mailto:shin.991@osu.edu"><img class="icon" src="{{ '/images/email.jpeg' | relative_url }}" alt="Email" style="width: 1em; vertical-align: middle; margin-right: 4px;"> Email</a></li>
    <li><a href="https://scholar.google.com/citations?hl=en&user=VxeyTKUAAAAJ" target="_blank" rel="noopener"><img class="icon" src="{{ '/images/googlescholar.jpg' | relative_url }}" alt="Google Scholar" style="width: 1em; vertical-align: middle; margin-right: 4px;"> Google Scholar</a></li>
    <li><a href="https://github.com/c16267" target="_blank" rel="noopener"><img class="icon" src="{{ '/images/github.png' | relative_url }}" alt="GitHub" style="width: 1em; vertical-align: middle; margin-right: 4px;"> GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/jungmin-shin-869919196" target="_blank" rel="noopener"><img class="icon" src="{{ '/images/linkedin.jpeg' | relative_url }}" alt="LinkedIn" style="width: 1em; vertical-align: middle; margin-right: 4px;"> LinkedIn</a></li>
  </ul>
</aside>
